
<section class="card register">

    <form name="myform">

        <div class="textintro">
            <h1>Client Information</h1>
            <br />


        </div>
        <fieldset>
            <input type="text" name="firstname" placeholder="First Name">
            <input type="text" name="lastname" placeholder="Last Name">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <br /><br />

        </fieldset>
        <button type="submit" class="btn">Create</button>
        <button type="submit" class="btn">Update</button>
        <button type="submit" class="btn">Delete</button>
        <br /><br />
        <img ng-src="../images/3Metas-Logo-small.png" /></img>
        <br /><br />
    </form>
</section>